{% extends "layouts/default.html" %}

{% block content %}

    <!-- Hero starts -->
    <div class="mb-16 lg:mb-32">     

        <a href="/" class="mb-16 inline-block hover:underline">
            Back to homepage
        </a>

        <h1 class="font-black text-3xl sm:text-4xl lg:text-6xl mb-16">
            Impressum
        </h1>

        <h2 class="mt-8 font-black text-xl mb-4">Anbieterkennzeichnung nach § 5 Telemediengesetz (TMG), Administrator:</h2>
        <p>
            Gerrit Halfmann <br>
            gerrit@gerrithalfmann.com
        </p>

        <h2 class="mt-8 font-black text-xl mb-4">Verantwortlich für die Inhalte:</h2>
        
        <p>
            Gerrit Halfmann <br>
            Luisenstraße 66 <br>
            40215 Düsseldorf <br>
            gerrit@gerrithalfmann.com
        </p>

        <h2 class="mt-8 font-black text-xl mb-4">Haftungshinweis zu externen Links:</h2>
        
        <p>
            Trotz sorgfältiger inhaltlicher Kontrolle, übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Diese Erklärung gilt für alle auf der Homepage angezeigten Links und für alle Inhalte der Seiten, zu denen diese Links führen.
        </p>

    </div>
    <!-- Hero ends -->


{% endblock %}