{% extends "layouts/default.html" %}

{% block content %}

    <!-- Hero starts -->
    <div class="mb-16 lg:mb-24">
        {% image "./images/avatar2023.png", "Portrait of Gerrit Halfmann", "", "w-32 aspect-square object-cover rounded-full" %}
        <h1 class="font-black text-3xl sm:text-4xl my-4 sm:my-8">
            Gerrit Halfmann<br>
            <span class="text-gray-500">
                Your creative web<br>
                development partner
            </span>
        </h1>
        <p class="text-lg tracking-tight mb-4 sm:mb-8">
            I'm Gerrit, a web designer and frontend developer. Driven by passion for modern design and cutting-edge technology I work with companies and startups to scale their design-systems and website performance.
        </p>
        <a class="py-3 px-5 bg-gray-900 hover:bg-gray-900 rounded-lg text-sm text-white inline-block" href="mailto:gerrit@gerrithalfmann.com">
            -> gerrit@gerrithalfmann.com
        </a>
    </div>
    <!-- Hero ends -->

    <!-- Projects start -->
    <div class="mb-16 lg:mb-24">
        <h2 class="font-black text-xl sm:text-4xl mb-3 sm:mb-8">
            Selected clients <span class="text-gray-500">and projects</span>
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% for a in projects %}
            <a href="{{a.url}}" target="_blank" class="block md:flex items-start p-4 md:p-6 bg-gray-50 rounded-lg mb-4 transition-all ring-gray-400 hover:ring-2 group">
                <div class="mb-2 md:mb-0 w-12 flex-shrink-0">
                    {% image a.logo, a.name, "", "w-full h-full" %}
                </div>
                <div class="md:ml-4">
                    <div class="font-bold text-lg">
                        {{a.name}}
                    </div>
                    <div class="text-sm my-2">
                        {{a.teaser}}
                    </div>
                    <div class="flex flex-wrap justify-start text-xs text-gray-500 leading-4 group-hover:text-gray-900">
                        {{a.url}} ->
                    </div>
                </div>
            </a>
            {% endfor %} 
        </div>    
    </div>
    <!-- Projects end -->

    <!-- Testimonial start -->
    <div class="mb-16 lg:mb-24">
        <h2 class="font-black text-xl sm:text-4xl mb-3 sm:mb-8">
            Testimonials <span class="text-gray-500">and feedback</span>
        </h2>
        {% for a in testimonials %}
        <div class="block md:flex items-start p-4 md:p-6 bg-gray-50 rounded-lg relative mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="mb-2 md:mb-0 w-12 md:w-16 flex-shrink-0 text-gray-700" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" d="m15 17 2-4h-4V6h7v7l-2 4h-3Zm-9 0 2-4H4V6h7v7l-2 4H6Z"/>
            </svg>
            <div class="md:ml-6">
                <div class="text-base md:text-xl mb-4">
                    {{a.text}}
                </div>
                <div class="text-sm flex items-center">
                    {% image a.slug, a.name, "", "w-12 h-12 rounded-full mr-4 md:mr-3" %}
                    <div class="">
                        <div class="font-bold">{{a.name}}</div>
                        <div>{{a.company}}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}     
    </div>
    <!-- Testimonial end -->


{% endblock %}